body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2d4558;
  color: #ccc;
  font-family: monospace;
  text-align: center;
}

.tentatives-container p {
  display: flex;

  font-size: 4em;
  margin-top: 10%;
}

.tentatives-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.button {
  background-color: #3184a5;
  color: white;
  border: solid 2px #4792af;
  bottom: 300px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  width: 400px;
  height: 100px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #479faf;
}

.button:active {
  background-color: #4cb9bd;
  transform: translateY(2px);
}